pandemic/out/*
San Fransisco			2 blue		( Chicago Tokyo Manila)
Johannesburg				( Kinshahsa Kartum)
Lagos				( Sao Paolo Kartum Kinshahsa)
Algires			1 black		( Madrid Paris Istambul Cairo)
Riyadh			3 black		( Cairo Baghdad Karachi)
Chennai			3 black		( Delhi Mumbai Kolkata Jakarta Bangkok)
Tokyo				( San Fransisco Shanghai Osaka Seoul)
St. Petersburg			3 blue		( Essen Milan Moscow Istambul)
Kolkata				( Delhi Chennai Bangkok Hong Kong)
Sidney			3 red		( Los Angeles Jakarta Manila)
Ho Chi Minh City				( Jakarta Manila Bangkok Hong Kong)
Bogota			2 yellow		( Mexico City Miami Lima Sao Paolo Buenos Aires)
Bangkok			2 red		( Chennai Kolkata Jakarta Ho Chi Minh City Hong Kong)
Santiago				( Lima)
Karachi			1 black		( Baghdad Riyadh Tehran Delhi Mumbai)
Milan			3 blue		( Paris Essen St. Petersburg Istambul)
Madrid				( New York London Paris Algires)
London				( New York Madrid Paris Essen)
Baghdad			1 black		( Istambul Cairo Karachi Tehran Riyadh)
Istambul			2 black		( Milan St. Petersburg Algires Cairo Moscow Baghdad)
Delhi				( Tehran Karachi Kolkata Chennai Mumbai)
Kinshahsa			3 yellow		( Lagos Kartum Johannesburg)
Hong Kong			1 red		( Kolkata Manila Ho Chi Minh City Bangkok Taipei Shanghai)
Taipei				( Manila Hong Kong Osaka Shanghai)
Manila				( San Fransisco Sidney Taipei Ho Chi Minh City Hong Kong)
Essen				( London Paris Milan St. Petersburg)
Moscow				( St. Petersburg Istambul Tehran)
Mumbai				( Karachi Delhi Chennai)
Washington			2 blue		( Atlanta Montreal New York)
Atlanta*				( Washington Chicago Miami)
Lima				( Mexico City Miami Bogota Santiago)
Seoul			1 red		( Shanghai Tokyo Bejing)
Kartum			1 yellow		( Lagos Kinshahsa Johannesburg Cairo)
Buenos Aires				( Bogota Sao Paolo)
Tehran			1 black		( Moscow Baghdad Karachi Delhi)
New York			3 blue		( Washington Montreal London Madrid)
Chicago			1 blue		( Atlanta Montreal San Fransisco Los Angeles Mexico City)
Shanghai				( Hong Kong Taipei Bejing Seoul Tokyo)
Sao Paolo				( Bogota Buenos Aires Lagos)
Miami			1 yellow		( Atlanta Mexico City Bogota Lima)
Cairo			1 black		( Kartum Algires Istambul Baghdad Riyadh)
Jakarta				( Chennai Sidney Ho Chi Minh City Bangkok)
Los Angeles				( Chicago Mexico City Sidney)
Bejing			1 red		( Shanghai Seoul)
Osaka				( Taipei Tokyo)
Montreal				( Washington Chicago New York)
Paris			2 blue		( London Madrid Essen Milan Algires)
Mexico City			2 yellow		( Chicago Los Angeles Miami Bogota Lima)
You must drop a card, or play an event.
